body{ 
  background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); 
  margin: 0; 
  overflow: hidden;
  font-family: 'Roboto Mono', monospace;
}
canvas{
  cursor: move;
}
.step{
  position: fixed; 
  top: 0.5em; 
  right: 0.5em; 
  color: white; 
  font-size: 2em;
  text-shadow: 0 4px 32px rgba(0,0,0,0.3);
  z-index: 1;
}
.controls{
  position: fixed; 
  top: 1em; 
  left: 1em; 
  /* bottom: 1em;  */
  width: 20em; 
  max-width: calc(100vw - 2em);
  background-color: #eee; 
  border-radius: 1em; 
  box-shadow: 0 2px 12px rgba(0,0,0,0.667); 
  padding: 1.5em;
  box-sizing: border-box;
  color: #333;
  overflow-y: scroll;
  scroll-behavior: smooth;
  z-index: 1;
}
.controls > h2{
  margin: 1em 0 0.5em;
  border-bottom: solid #555 2px;
  line-height: 1;
}
.controls > h2:first-child{
    margin-top: 0;
}
.input-group{
  display: flex;
  margin: 0.5em 0;
}
.input-group > input{
  flex-grow: 1;
  width: 0;
}
.input-group > label{
  margin-right: 1em;
  white-space: nowrap;
  flex-grow: 0;
}
input{
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  border: none;
  border-bottom: dashed 2px currentcolor;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: none;
  width: 100%;
  letter-spacing: 0.5em;
}
input:invalid{
  color: red;
}
::selection{
  background-color: #444;
  color: #eee;
}
.step-tiles{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tile{
  height: 4em;
  width: 4em;
  border-radius: 12px;
  background-color: #C00;
  box-shadow: 
    0 2px 16px rgba(0,0,0,0.3), 
    inset 6px 6px 12px rgba(255,255,255,.5), 
    inset -6px -6px 12px rgba(0,0,0,.15);
  position: relative;
}
.tile input{
  display: none;
}
.tile label {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 12px;
  cursor: pointer;
}
.tile .fa{
  color: white;
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 40px;
  line-height: 1;
  transform: rotate(0deg);
  transition: transform 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-shadow: 0 2px 8px rgba(0,0,0,0.3);
  pointer-events: none;
}
.tile input:checked ~ .fa{
  /* transform: rotate(180deg); */
  background-color: #0F2027;    
}

.slider-container{
  position: relative;
}
.slider-container::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 12px;
  width: 2px;
  background-color: #555;
}
.slider-container::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  height: 12px;
  width: 2px;
  background-color: #555;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0;
  color: #555;
}

.slider:hover {
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  background: #eee;
  border: solid 2px #555;
  border-radius: 50%;
  cursor: move;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
}